header(class='mdl-layout__header mdl-layout__header--scroll mdl-color--primary')
	div(class='mdl-layout--large-screen-only mdl-layout__header-row')
	div(class='mdl-layout--large-screen-only mdl-layout__header-row')
		h3 Telegram Mailman Moderator Bot
	div(class='mdl-layout--large-screen-only mdl-layout__header-row')
	div(class='mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark')
		if id === 'status'
			a(class='mdl-layout__tab is-active', href='/') Status
		else
			a(class='mdl-layout__tab', href='/') Status

		if id === 'setup'
			a(class='mdl-layout__tab is-active', href='/setup') Setup
		else
			a(class='mdl-layout__tab', href='/setup') Setup
