extends layout.pug

block content
	- var id = 'setup';
	include includes/header.pug
	main(class='mdl-layout__content')
		div(class='mdl-layout__tab-panel is-active')
			section(class='section--center mdl-grid mdl-grid--no-spacing')
				div(class='mdl-cell mdl-cell--12-col')
					h4 Setup Mailman Connection

					if !sessionId
						p To setup the bot, open Telegram and call /setup.
						br
						br
					else
						p To connect the bot to your Mailman API, fill out the connection parameters below.
						p For a detailed description of parameters and expected inputs, check the #[a(href='https://github.com/tkupek/telegram-mailman-bot') documentation.]

						div#success(class='hide')
							br
							p(class='warning') #[i(class="material-icons") check_circle_outline] Connection checked and saved. Your bot is connected.
							p You can leave this page now.

						div#input

							div(class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label')
								input#url(class='mdl-textfield__input', type='text', placeholder='https://lists.example.org', pattern='https:\/\/.{1,}\..{2,}')
								label(class='mdl-textfield__label', for='host') API URL (https://lists.example.org/api/3.1)
								span(class='mdl-textfield__error', for='host') Input is not a valid HTTPS URL!
							br
							div(class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label')
								input#lists(class='mdl-textfield__input', type='text', placeholder='^foo@lists.example.org$|bar@lists.example.org$')
								label(class='mdl-textfield__label', for='lists') Lists (regex matching - enter '*' to select all lists)
							br
							div(class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label')
								input#username(class='mdl-textfield__input', type='text')
								label(class='mdl-textfield__label', for='username') Username
							div(class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label')
								input#password(class='mdl-textfield__input', type='password')
								label(class='mdl-textfield__label', for='password') Password
							br
							div(class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label')
								input#header(class='mdl-textfield__input', type='text', pattern='\{.*\}')
								label(class='mdl-textfield__label', for='header') X-Auth Header (optional)
								span(class='mdl-textfield__error', for='host') Input is not a valid Header!
							br
							div#sessionId(class='hidden', value=sessionId)

							div#failed
							br
							p#error(class='error hide') #[i(class="material-icons") warning] Connection failed. Please check parameters and mailman config.

							button#submit(class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect') Submit
							br
							br

block footerscripts
	script.
		// TODO code AJAX post
		let success = function() {
			document.getElementById('input').classList.add("hide");
			document.getElementById('error').classList.add("hide");
			document.getElementById('success').classList.remove("hide");
		};

		let error = function() {
			document.getElementById('error').classList.remove("hide");
		};
