body {
    background: #222222;
    font-family: Verdana, sans-serif;
    font-size: small;
    margin: 8px 0 16px;
    text-align: center;
}

#form_container {
    background: #fff;
    padding: 10px;
    margin: 10px auto;
    text-align: left;
    width: 640px;
}

#top {
    display: block;
    height: 10px;
    margin: 10px auto 0;
    width: 650px;
}

#footer {
    width: 640px;
    clear: both;
    color: #999999;
    text-align: center;
    padding-bottom: 15px;
    font-size: 85%;
}

#footer a {
    color: #999999;
    text-decoration: none;
    border-bottom: 1px dotted #999999;
}

#bottom {
    display: block;
    height: 10px;
    margin: 0 auto;
    width: 650px;
}

form.form-style {
    margin: 20px 20px 0;
    padding: 0 0 20px;
}

.form-style li {
    width: 61%;
}

form ul {
    font-size: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

form li {
    display: block;
    margin: 0;
    padding: 4px 5px 2px 9px;
    position: relative;
}

form li:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.buttons:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.buttons {
    clear: both;
    display: block;
    margin-top: 10px;
}

* html form li {
    height: 1%;
}

* html .buttons {
    height: 1%;
}

* html form li div {
    display: inline-block;
}

form li div {
    color: #444;
    margin: 0 4px 0 0;
    padding: 0 0 8px;
}

form li span {
    color: #444;
    float: left;
    margin: 0 4px 0 0;
    padding: 0 0 8px;
}

form li div.left {
    display: inline;
    float: left;
    width: 48%;
}

form li div.right {
    display: inline;
    float: right;
    width: 48%;
}

form li div.left .medium {
    width: 100%;
}

form li div.right .medium {
    width: 100%;
}

form li div label {
    clear: both;
    color: #444;
    display: block;
    font-size: 9px;
    line-height: 9px;
    margin: 0;
    padding-top: 3px;
}

form li span label {
    clear: both;
    color: #444;
    display: block;
    font-size: 9px;
    line-height: 9px;
    margin: 0;
    padding-top: 3px;
}

form li .datepicker {
    cursor: pointer !important;
    float: left;
    height: 16px;
    margin: .1em 5px 0 0;
    padding: 0;
    width: 16px;
}

.form_description {
    border-bottom: 1px dotted #ccc;
    clear: both;
    display: inline-block;
    margin: 0 0 1em;
}

.form_description[class] {
    display: block;
}

.form_description h2 {
    clear: left;
    font-size: 160%;
    font-weight: 400;
    margin: 0 0 3px;
}

.form_description p {
    font-size: 95%;
    line-height: 130%;
    margin: 0 0 12px;
}

form hr {
    display: none;
}

form li.section_break {
    border-top: 1px dotted #ccc;
    margin-top: 9px;
    padding-bottom: 0;
    padding-left: 9px;
    padding-top: 13px;
    width: 97% !important;
}

form ul li.first {
    border-top: none !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

form .section_break h3 {
    font-size: 110%;
    font-weight: 400;
    line-height: 130%;
    margin: 0 0 2px;
}

form .section_break p {
    font-size: 85%;

    margin: 0 0 10px;
}

input {
    width: 100%;
}

input.button_text {
    overflow: visible;
    padding: 0 7px;
    width: auto;
}

.buttons input {
    font-size: 120%;
    margin-right: 5px;
}

label.description {
    border: none;
    color: #222;
    display: block;
    font-size: 95%;
    font-weight: 700;
    line-height: 150%;
    padding: 0 0 1px;
}

input.text {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-top: 1px solid #7c7c7c;
    color: #333;
    font-size: 100%;
    margin: 0;
    padding: 3px 0;
}
